<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livros</title>
    <!-- Adicione o CSS do Bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">Lista de livros</h1>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Editora</th>
            <th>Ano</th>
            <th>Quantidade Total</th>
            <th>Quantidade Disponível</th>
            <th>Aluno ID</th>
          </tr>
        </thead>
        <tbody>
          {% for livro in livros %}
          <tr>
            <td>{{ livro.idLivro }}</td>
            <td>{{ livro.tituloLivro }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.anoLivro }}</td>
            <td>{{ livro.quantidadeLivros }}</td>
            <td>{{ livro.qtdeLivDisponiveis }}</td>
            <td>{{ livro.aluno_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Adicione o JavaScript do Bootstrap (opcional) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ZfnvmKT+8KwQixw4doC2CBfdDnpwe3QGSu02MD4I4aNC4sT4XNZa6QcMCUJN3K0K"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
